<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LearnIT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Materials", "Index", "Materials")</li>
                    <li>@Html.ActionLink("Trainer", "TrainerDashboard", "Trainer")</li>
                    <li>@Html.ActionLink("Workshops", "Index", "Workshops")</li>
                    <li>@Html.ActionLink("Participant", "ParticipantDashboard", "Participant")</li>
                    <li>@Html.ActionLink("Category", "Index", "Category")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
            <div class="glyphicon-align-right" style="position: absolute;
                                                    right: 0px;
                                                   " id="myDIV">
                <iframe allow="microphone;"
                        width="350"
                        height="430"
                        src="https://console.dialogflow.com/api-client/demo/embedded/864d381b-9e39-45b8-9ca3-8a3b9c7c778d">
                </iframe>
            </div>
            <img src="~/Content/icon.png" class="" style="height: 80px;
        width: 80px;position: absolute;
        right: 0px;
        bottom: 0px;
" onclick="myFunction()"/>
            <script>
                function myFunction() {
                    var x = document.getElementById("myDIV");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                }
            </script>
            <footer>
                <p> </p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
